*{
    margin: 0px;padding: 0px;
}
a{
    text-decoration:none;
}
.login-logo{
    width: 380px;
    height: 46px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}
.login-logo>img{
    width: 126.5px;
    height: 46px;
}
.title{
    font-size: 24px;
    color: #fff;
    vertical-align: bottom;
    text-shadow: 0 0 4px rgba(0,0,0,.3);
    line-height: 46px;
}
.denglu{
    width: 655px;
    height: 436px;
    margin: 0 auto;
    margin-top: 45px;
    /* position: relative; */
}
.denglu>div:first-child{
    box-sizing: border-box;
    /* margin-top: 45px; */
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: hsla(0,0%,100%,.95);
    width: 380px;
    height: 436px;
    float:left;
    /* text-align: center; */
    /* position: absolute;
    top: 0px;
    left: 0px; */
}
.denglu>div:last-child>img{
    width: 275px;
    height: 436px;
    float: left;
    /* margin-top: 45px; */
}
.item,.item1{
    width: 165px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid #10b041;
    color: #3f9f5f;
    float: left;
}
.denglu>div:first-child>div:nth-child(3){
    width: 252px;
    height: 50px;
    float: left;
}
.denglu>div:first-child>div:nth-child(3)>span{
    line-height: 60px;
    font-size: 14px;
    color: #959595;
}
.denglu>div:first-child>div:nth-child(3)>a{
    color:#3f9f5f;
    font-size: 14px;
}
.input{
    width:100%;
    height: 226px;
    float: left;
}
#uname,#upwd{
    box-sizing: border-box;
    padding: 3px 7px;
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    vertical-align: top;
    background: #fff;
    outline: none;
    /* border:2px solid #ff654c; */
}
#uname_msg,#upwd_msg{
    color: #ff654c;
    line-height: 30px;
    font-size: 12px;
}
.input>div{
    width: 100%;
    height: 30px;
}
.bottom>a{
    color: #959595;
    font-size: 12px;
    line-height: 30px;
    float:right;
}
button{
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    padding: 0 15px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
    background-color: #3f9f5f;
    outline: none;
}
.log{
    width: 100%;
    height: 90px !important;
    box-sizing: border-box;
    padding-top:40px;
    padding-bottom: 10px;
}
.log>img{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
}
.log_bottom{
    width: 100%;
    height: 40px !important;
    padding: 10px 0px;
    box-sizing: border-box;
}
.log_bottom>span{
    color: #959595;
    font-size: 12px;
    line-height: 30px;
}
.log_bottom>span:last-child{
    float:right;
}
.log_bottom>a{
    color:#3f9f5f;
    font-size: 14px;
}